<h1> Express App : {{title}}</h1>
<table>
  <tr>
    <th>nom</th>
    <td class="txt">{{data.nom}}</td>
  </tr>
  <tr>
    <th>prenom</th>
    <td class="txt">{{data.prenom}}</td>
  </tr>
  <tr>
    <th>statut</th>
    <td class="txt">{{data.statut}}</td>
  </tr>
  <tr>
    <th>prix jour</th>
    <td class="txt">{{data.prix_jour}}€</td>
  </tr>
</table>