<h1> Express App : {{title}}</h1>
<table>
  <tr>
    <th>libelle</th>
    <td class="txt">{{data.libelle}}</td>
  </tr>
  <tr>
    <th>duree</th>
    <td class="txt">{{data.duree}}heures</td>
  </tr>
  <tr>
    <th>plan cours</th>
    <td class="txt">{{data.plan_cours}}</td>
  </tr>
  <tr>
    <th>prix</th>
    <td class="txt">{{data.prix}}€</td>
  </tr>
  <tr>
    <th>formateur</th>
    <td class="txt">{{data.formateurs}}</td>
  </tr>
</table>